@import url('https://fonts.googleapis.com/css2?family=Borel&family=Josefin+Sans:wght@400;600&family=Mooli&family=Roboto:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}
html{
    scroll-behavior: smooth;
   
}

body {
    background: #fcfefe;
    /* color: #fff; */
}

.header {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    position: sticky;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    padding: 20px 10px;
    opacity: 0.8;
    background: linear-gradient(#2e8b8b, #eaf6f6);
    /* background: linear-gradient(#366666, #eaf6f6); */
    display: flex;
    justify-content: center;
    z-index: 100;
}

.logo {
    
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    margin-top:auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 20px 40px;
    opacity: 1;
    background: linear-gradient(#2e8b8b, #eaf6f6);
    border-radius: 20px;
    transition: 0.5s;
    z-index: 100;
}

.ram {
    
    font-family: 'Josefin Sans', sans-serif;
    position:absolute;
    top: 0;
    right: 0;
    color: rgb(0, 0, 0);
    
    padding: 10px 20px;
    margin-bottom: 15px;
    
    background: linear-gradient(#2e8b8b, #eaf6f6);
    border-radius: 20px;
    transition: 0.5s;
    z-index: 100;
    
}
.ram img{
    width: 35px;
    height: 35px;
      
}
.Ram{
    padding-right:10px;
   
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.navbar a {
    font-size: 18px;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    
    transition: 0.5s;
}

.navbar a:hover {
    color: rgb(97, 21, 10);
    font-size: 25px;
}
nav img{
    width: 42px;
    height: 34px;
    
}

.logo:hover {
    color: rgb(96, 19, 8);
    font-size: 28px;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 110%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.home-content {
    font-family: 'Josefin Sans', sans-serif; 
    margin-left: 40px;
    margin-top: 340px;

    max-width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.home-content h1 {
    font-size: 95px;
    color: #ffffff;
}
.home-content h1::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fcf9f9;
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .home-content h1:hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

.home-content h3 {
    font-size: 75px;
    color: rgb(245, 244, 244);
}

.home-content h2 {
    margin-top: 5px;
    font-size: 85px;
    color: rgb(220, 226, 234);
}

.home-content p {
    padding: 20px;
    font-size: 30px;
    color: rgb(252, 252, 252);
}
.about1{
    display: flex;
    margin-top: 150px;
    margin-left: 30px;
    padding: 30px;
    font-size: 30px;
    height: 60vh;
    width: 60%;
    border-radius: 40px;
    background-color: #eaf6f6;
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.2);
    
}
.about2{
    display: flex;
    margin-top: -450px;
    margin-right: 30px;
    margin-left: 590px;
    padding: 30px;
    font-size: 30px;
    height: 60vh;
    width: 60%;
    border-radius: 40px;
    background-color: #eaf6f6;
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.2);
}
.about3{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    padding: 30px;
    font-size: 30px;
    height: 60vh;
    width: 60%;
    border-radius: 40px;
    background-color: #eaf6f6;
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.2);
    
}
.about1 img{
border-radius: 500px;
}
.about2 img{
    border-radius: 500px;
    }
.about3 img{
        border-radius: 1000px;
        }
.about1 p{
padding: 30px; 
margin-top: 60px;

}
.about2 p{
    padding: 30px; 
    margin-top: 100px;
    }
    .about3 p{
        padding: 30px; 
        margin-top: 60px;
        
        }
 .about1:hover{
    transform:scale(1.05);
    transition: 0.5s;
 }
 .about2:hover{
    transform:scale(1.05);
    transition: 0.5s;
 }
 .about3:hover{
    transform:scale(1.05);
    transition: 0.5s;
 }
 .img01 {
    height: 60vh;
    width: 30%;
    margin-left:1000px;
    margin-top: -500px;
 }
 .img02 {
    height: 60vh;
    width: 30%;
    margin-left: 25px;
 }
 .img03{
    height: 60vh;
    width: 30%;
    margin-left: 1005px;
    margin-top: -500px;
 }
.container{
    /* background-image: url('construction-health-logo-2zvov.webp'); */
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    /* padding: 20px; */
    margin-top: 40px;
    /* margin-left: 40px; */
    color: #1f242d;
}
.sub-title{
    width: 100%;
    height: 10vh;
    font-size: 50px;
    text-align:center;
   padding-top: 20px;
   transition: 0.5ss;
   
    
}
.sub-title:hover{
    background: linear-gradient(#85b4b4, #eaf6f6);
    transform:scale(1.2);
    transition: 0.5s;
}
.work-list{
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(auto-fit,minmax(280px,6fr));
    grid-gap:20px;
    margin-top: 50px;
    transition: 0.5s;
}
.work-list:hover{
    background: linear-gradient(#bed1d1, #eaf6f6);
    transition: 0.5s;
    border-radius: 20px;
}
.work{
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);

}
.work:hover{
    background: linear-gradient(#fefefe, #d1dcdc);
    transform:scale(1.15);
    transition:0.5s;
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.2);
}
.work h3{
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    color: black;
}
.work p{
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    color: black;
}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
}

@media screen and (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: block;
    }

    .ram {
        display: block;
        margin: 10px;
    }

    .active {
        margin-left: 1000px;
    }

    .about {
        margin-top:300px;
    }

    .about1,
    .about2,
    .about3 {
        flex-direction: column;
        margin-bottom: 20px;
        width: auto;
        height: auto;
    }

    .about2,
    .about3 {
        margin-left: 30px;
        margin-top: 60px;
    }
    .about1 {
        margin-left: 30px;
        margin-right: 30px;
        
    }

    .about1 p,
    .about2 p,
    .about3 p {
        font-size: 14px;
        margin: 10px 0;
    }

    .work-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work {
        height: auto;
    }

    .sub-title {
        font-size: 4vw;
    }

    .home-content {
        margin-top: 20vh;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .pro,
    .Ser,
    .Abo,
    .Con,
    .Pri {
        display: none;
    }

    .img01,
    .img02,
    .img03 {
        display: none;
    }

    .header {
        width: 100%;
    }

    .home-content h1 {
        color: #f4f8f8;
        font-size: 50px;
    }

    .home-content h3 {
        font-size: 40px;
    }

    .home-content h2 {
        font-size: 40px;
    }

    .background-clip {
        position: center;
       
        height: 90%;
        width: auto;
        
        opacity: 0.8;

    }
    .container-sub{
        margin-top: 2400px;
    }
    .image img{
        display: none;
    }
    
    .container2{
        height: auto;
    }
    #pricing{
        margin-top: 80px;
        height: auto;
    }
    .pricing-card2{
        padding-top: 300px;
    }
    .set-up{
        display: none;
    }
    .new{
     flex-direction: column;
    }
   
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo,
    .ram {
        display: block;
    }

    .ram {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 15px;
    }

    .header {
        height: 10vh;
        width: 100%;
    }
    
    
    .Abo,
    .Con,
    .Pri {
        display: none;
    }

    .img01,
    .img02,
    .img03 {
        display: none;
    }

    .home-content {
        font-size: 20%;
        margin-top: 15vh;
        margin-left: 20px;
        text-align: center;
    }
    .about{
        margin-top: 50px;
        
    }

    .about1,
    .about2,
    .about3 {
        height:auto ;
        width:auto;
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 50px;
        flex-direction: column;
    }

    .work-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .work {
        height: auto;
    }
    
    .sub-title {
        font-size: 4vw;
    }
}


@media screen and (min-width: 992px) {
    
    .home-content {
        margin-top: 340px; 
    }

    
    .ram {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px; 
    }

   
    .navbar a {
        display: inline-block;
    }

    
    .about1 p,
    .about2 p,
    .about3 p {
        font-size: 30px; 
        margin: 20px 0; }

    
    .header {
        width: 100%;
    }

    
    .home-content h1 {
        color: #ffffff; 
        font-size: 95px; 
    }

    
    .home-content h3 {
        font-size: 75px; 
        color: #f6f3f3; 
    }

    
    .home-content h2 {
        font-size: 85px; 
        color: #d8dce2; 
    }
    .container-sub{
        margin-top: 200px;
    }
    
    .home-content p {
        font-size: 30px; 
        color: #f1e8e8; 
        padding: 20px; 
}
}
/* work */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */
.container-sub{
    max-width: 100%;
    /* margin: 20px auto; */
    /* margin-top: 250px; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.photo-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #d6e0e1;
}
.photo-card img {
    max-width: 100%;
    height: auto;
}

.photo-card h2 {
    font-size: 24px;
}
.owl-carousel .owl-item {
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
    padding: 30px;
    position: relative;
}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-bottom: 40px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
    position: absolute;
    bottom: -20px;
    left: 33%;
    color: #101c81;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fcfefe;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
    opacity: 0.2;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    background: #2a6ba3 !important;
    border-radius: 2px !important;
    opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translateY(2px);
    background: #83b8e7 !important;
}

/* For screen sizes less than 767px */
@media (max-width: 766.9px) {
    .owl-carousel .owl-item .card .name {
        left: 30%; /* Adjust the value as needed */
    }
}

/* For screen sizes between 767px and 959.9px */
@media (min-width: 767px) and (max-width: 959.9px) {
    .owl-carousel .owl-item .card .name {
        left: 24%; /* Adjust the value as needed */
    }
}

/* For screen sizes 960px and above */
@media (min-width: 960px) {
    .owl-carousel .owl-item .card .name {
        left: 24%; /* Adjust the value as needed */
    }
}

.set-up{
/* display: flex; */
margin-top: 100px;
align-items: center; 


}
.form {
margin-top: 300px;
flex: 1;
width: 500px;
margin-left:700px; 

}

.image {
margin-left: 900px;
height: 10%;
margin-top: -200px;
width:30%; 

}

/* .image {
    flex: 1;
    padding: 20px;
} */


.form h2 {
    text-align: center;
    width: 300px;
}

.form label,
.form input,
.form select {
    width: 500px;
    margin-bottom: 0px;
}

.form input,
.form select {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   
.img-setup{
    width: 24% !important;
    border-radius: 5%;
}
.size-css{
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* pricing */
.container2{
    margin-top: 50px;
    background-color: #e6eded;
    padding: 40px 50px;
    height: auto;
    justify-content: center;
    text-align: center;
}
/* #pricing{
    margin-top: 100px;
} */
.pricing2 {
    background-color: #f5f5f5;
    padding: 60px ;
    text-align: center;
    height: 150px;
  
}

.pricing2 h2 {
    /* margin-bottom: 50px; */
    color: #333;
}

.pricing-card2 {
    background-color: #fff;
     padding: 10px;
    padding-top: 130px;
    height: 400px; 
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(1, 0, 0, 0.7);
    
    
}
.pricing-card2:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.pricing-card2 h3 {
    font-size: 24px;
    color: #333;
}

.pricing-card2 p {
    color: #666;
    margin: 10px 0;
}

.pricing-card2 h4 {
    font-size: 36px;
    color: #333;
}

.pricing-card2 .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.pricing-card2 .btn-primary:hover {
    background-color: #0056b3;
}
.pricing {
background-color: #f5f5f5;
padding: 10px 50px;
text-align: center;
height: 50px;

}


.pricing h2 {
margin-bottom: 50px;
color: #333;
}

.pricing-card {
height: 750px;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(1, 0, 0, 0.7);
margin-bottom: 50px;
margin-top:10px;

background: linear-gradient(
to right,
#8ed1f5 0%,
#cbeeff 25%,
rgb(232, 243, 247) 60%,
white 100%
);
}

.pricing-card h3 {
font-size: 10px;
color: #333;
}

.pricing-card p {
color: #666;
margin: 10px 0;
}

.pricing-card h4 {
font-size: 20px;
color: #66bfbf;
}

.pricing-card .btn-primary {
background-color: #007bff;
color: #fff;
border: none;
}

.pricing-card .btn-primary:hover {
background-color: #0056b3;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


form .form-row .input-data{
width: 80%;
height: 40px;
margin: 0 20px 10px;
position: relative;
}
form .form-row .textarea{
height: 70px;

}
#contect-form{
    margin-top: 50px;
}
.input-data input,
.textarea textarea{
display: block;
width: 100%;
height: 100%;
border: none;
font-size: 17px;
border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
transform: translateY(-40px);
font-size: 14px;
color: #3498db;
}
.textarea textarea{
resize: none;
padding-top: 10px;
}
.input-data label{
position: absolute;
pointer-events: none;
bottom: 10px;
font-size: 16px;
transition: all 0.3s ease;
}
.textarea label{
width: 100%;
bottom: 40px;
background: #fff;
}
.input-data .underline{
position: absolute;
bottom: 0;
height: 2px;
width: 100%;
}
.input-data .underline:before{
position: absolute;
content: "";
height: 2px;
width: 100%;
background: #3498db;
transform: scaleX(0);
transform-origin: center;
transition: transform 0.5s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
transform: scale(1);

}  

.button {
background-color: #c6f7ef; /* Green */
border: none;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
border-radius: 8px;
width:50%;
position:center;
margin-left: 20px;
}


.button2:hover {
transform: scale(1.1);
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* footer */
@media screen and (max-width: 767px) {
    .new {
        height: auto;
        padding: 20px;
        text-align: center;
        margin-top: 0;
    }
  
    .graylayer {
        height: auto;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
  
    .images img {
        width: 100%;
        margin-top: -270px;
        padding: 5%;
        max-width: 100%;
        height: auto;
    }
    .images2 img {
        padding: 15%;
      border-radius: 50%;
      /* max-width: 100%; Set the maximum width to 100% to make it responsive */
      height: 50px; 
      margin-left: 40px;
      justify-content: center;
      margin-top: 400px;
      margin-right: 210px;
      /* Center the image horizontally and add vertical margin */
  }
  
  
  
    .text{
        width: 100%;
        text-align: center;
        margin-top:50px;
        margin-left: 55px;
    }
     .text2 {
        width: 100%;
        text-align: center;
        margin-top: 0px;
        margin-left: 40px;
       
    }
  
    .text h1, .text2 h1 {
        font-size: 20px;
    }
  
    .text p, .text2 p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
    .button1, .button2 {
        width: 60%;
    }
    
    /* iframe{
        height: 100px;
        width: 100%;
    } */
  }
  /* iframe{
    border: 1px; width: 600px; height: 700px; margin-left: 50px;
  } */
    .new {
        background:  #fcfefe;
        
        width: 100vw;
        height: 73vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -67x;
        margin-bottom: 56px;
      }
    
      .graylayer {
        background-color: #eaf6f6;
        width: 100vw;
        height: 45vw;
        position: absolute;
        top: 26px;
        bottom: 0px;
      
        display: flex;
      }
  
      .images {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
    
      .images img {
        border-radius: 50%;
        width: 454px;
        height: 482px;
        position: relative;
        z-index: 2; 
      }
  
      
      .images2 img {
        border-radius: 50%;
        width: 557px;
        height: 493px;
        position: relative;
        z-index: 2;
        left: 86px;
        right: 23px;
        top: 175px;
      }
  
      .text {
        flex: 1;
        
        color: rgb(41, 38, 38);
        position: relative;
        height:auto;
        width: 10px;
        padding: 3px;
        z-index: 1; /* Place the text above the gray background */
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 89px;
        margin-bottom: 10px;
        left:-29px;
      }
      /* @media screen and (max-width: 767px) {
        .text2{
            margin-top:400px;
        }
      } */
      .text2{
        height: 400px;
        width: 500px;
        padding: 20px;
        color: rgb(22, 21, 21);
        position: relative;
        left: -29px;
        right: 10px;
        top: 291px;
        bottom: 22px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 89px;
      }
      
      
      .text h1 {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color: #f76b8a;
      }
      .text2 h1 {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color: #f76b8a;
      }
      .logotitle{
  
        color: #eaf6f6;
  
  
      }
      
      .text p {
        font-size: 16px;
        margin-top: 23px;
        margin-bottom: 27px;
      }
      h1{
        position: relative;
      }
      
      h1::before {
        content: '';
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f76b8a;
        transform-origin: bottom left;
        transform: scaleX(1);
        transition: transform 0.3s ease-in-out;
      }
      
      h1:hover::before {
        transform: scaleX(0);
        transform-origin: bottom right;
      }
      
      .text2 p {
        font-size: 16px;
        margin-top: 23px;
        margin-bottom: 27px;
      }
  
      .button1{
        display: inline-block;
        outline: 0;
        cursor: pointer;
        border-radius: 6px;
        border: 2px solid #f76b8a;
        color: #f76b8a;
        background: 0 0;
        padding: 8px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
        font-weight: 800;
        font-size: 16px;
        height: 42px;
      }
      .button2{
      
        display: inline-block;
        outline: 0;
        cursor: pointer;
        border-radius: 6px;
        border: 2px solid #f76b8a;
        color: #f76b8a;
        background: 0 0;
        padding: 8px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
        font-weight: 800;
        font-size: 16px;
        height: 42px;
        
        
      }
      .button2:hover {
        background-color: #66bfbf;
        color: #fff;
      }
      .button1:hover {
        background-color: #f76b8a;
        color: #fff;
      }   
      .container3 {
       background-color:  rgb(130 186 207);
        width: 100vw;
        margin: -12px auto;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
        height: 312px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
       
      } 
       #contact{
        margin-top: 100px;
    }
    .maps{
        width: 200%;
        margin-left: 30px;
        height: 650px;
    }
    @media screen and (max-width: 767px){
        .maps{
            width: 100%;
            margin-top: 50px;
            margin-left: 5px;
            height: 450px;
        }
        /* #company{
            display: none;
        } */
    }
    .map-contact{
        margin-top: 10px;
        height:auto;
        /* padding: 20px; */
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(1, 0, 0, 0.7);
margin-bottom: 10px;
        background: linear-gradient(
        to right,
        #8ed1f5 0%,
        #cbeeff 25%,
        rgb(232, 243, 247) 60%,
        white 100%
);
    }
    /* .input-data{
        flex-direction: column;
    } */
      footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        width: 100vw;
        margin-top: 10px;
    }
      .row {
      
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0px;
        margin-bottom: 176px;
        font-size: 17px;
        
      }
      
      .col {
        justify-content: space-around;
        min-width: 143px;
        color: #f2f2f2;
        font-family: poppins;
        padding: 10px;
        /* margin-bottom: 197px; */
        height: 144px;
        margin-bottom: 100px;
        margin-left: 69px;
        margin-right: -1s5px;
      }
      
       .logo1 {
        width: 88px;
        height: 88px;
        margin-right: 10px; /* Ensure the height matches the width for a perfect circle */
        margin-top: 50px;
        border-radius: 50%; /* Create a circular shape */
         /* Add a border for contrast */
       /* Add a subtle shadow */
        transition: transform 0.3s ease; /* Add a smooth hover effect */
    }
    
      .form {
        position: relative;
    top:-193px ;
    width: 10px;
    height: 10px;
    left: -538px;
    }
    
  
    #company{
    position: relative;
    top: 200px;
    left: -582px;

    }
  
    /* Hover effect to scale the logo on hover */
    .col .logo1:hover {
        transform: scale(1.1); /* Increase the size on hover */
    }
      
      .col h3 {
        color: #ff014fff;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
      }
      
      .col h3::after {
        content: '';
        height: 3px;
        width: 0px;
        background-color: #ff014fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease;
      }
      
      .col h3:hover::after {
        width: 30px;
      }
      .services link{
      
        margin-left: 10px;
  
      }
      .col .social a i {
        color: rgb(0, 0, 0);
        margin-top: 2rem;
        height: 30px;
        width: 46px;
        font-size: 19px;
        margin-right: 5px;
        transition: 0.3s ease;
    }
    
    .social a:hover .facebook-icon {
      transform: scale(1.5);
        color: #1877f2; /* Facebook blue color */
    }
    
    .social a:hover .instagram-icon {
        color: #bc2a8d;
        transform: scale(1.5); /* Instagram pink color */
    }
    
    .social a:hover .youtube-icon {
      transform: scale(1.5);
        color: #ff0000; /* YouTube red color */
    }
    
    .social a:hover .twitter-icon {
      transform: scale(1.5);
        color: #1da1f2; /* Twitter blue color */
    }
    
    .social a:hover .linkedin-icon {
        color: #0077b5; 
          transform: scale(1.5);
    }
    
  
  
      /*dasda*/
      .col .links a {
        display: block;
        text-decoration: none;
        color: #f2f2f2;
        margin-bottom: 30px;
        position: relative;
        transition: 0.3s ease;
        margin-left: 0px;
      }
      
      .col .links a::before {
        content: '';
        height: 16px;
        width: 3px;
        position: absolute;
        top: 5px;
        left: -10px;
        background-color: #ff014fff;
        transition: 0.5s ease;
        opacity: 0;
      }
      
      .col .links a:hover::before {
        opacity: 1;
      }
      
      .col .links a:hover {
        transform: translateX(-8px);
        color: #ff014fff;
      }
      
      .col .contact-details {
        display: inline-flex;
        justify-content: space-between;
      }
      
      .col .contact-details i {
        margin-right: 15px;
      }
      .row .form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  0;
        position: relative;
        left: -470px;
        right: 12px;
        width: 2px;
        height: 10px;
      }
     
      
      .form input {
        background-color: #eaf6f6;
        border: 0;
        outline: none;
        padding: 11px 4px;
        border-radius: 6px;
        
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      
      .form button {
        padding: 14px 20px;
        border: 0;
        border-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #ff014fff;
      }
      
      /********** Responsive Design ********/
      @media (max-width: 900px) {
        .row {
          flex-direction: column;
        }
      
        .col {
          width: 100%;
          text-align: left;
          margin-bottom: 25px;
        }
      }
      
      @media (max-width: 768px) {
        .row {
          flex-direction: column;
          margin-bottom: 20px;
          
        }
        #company{
            display: block;
        }
        #services{
            margin-bottom: 120px;
          }
        .col {
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
        }
      }
      
      /* Original CSS styles for larger screens */
  
  /* ... (Your existing styles) ... */
  
  /* Media query for screens smaller than 900px */
  @media (max-width: 900px) {
    body {
        justify-content: center;
        align-items: flex-start;
    }
    
    .new {
        height: auto;
        min-height: 100vh;
    }
    
    .graylayer {
        height: auto;
    }
  
    .images img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
  
    .text, .text2 {
        width: 100%;
        text-align: center;
    }
  
    .text h1, .text2 h1 {
        font-size: 20px;
    }
    .container3{
        height: auto;
        margin-bottom: 0px;
    }
    footer{
        margin-bottom: auto;
    }
    

  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .col {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    
    .col h3::after {
        width: 20px;
    }
  
    .row .form {
        left: 0;
        right: 0;
        
        text-align: center;
    }
    
  }
  
  